;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cljs-http "0.1.48"]
  [com.rpl/specter "1.1.4"]
  [lambdaisland/uri "1.19.155"]]
;https://github.com/shadow-cljs/shadow-cljs.github.io/blob/dd4be69c0144dc0b0ae1cbe8a715eb2be7608ece/docs/UsersGuide.adoc?plain=1#L451
 :dev-http {8000 "public"}
 :builds
 {:background
  {:target :esm
   :output-dir "public/js"
   :runtime :custom
   :modules {:base {}
             :background {:init-fn background/init
                          :depends-on #{:base}}
             :question {:init-fn question/init
                        :depends-on #{:base}}}}
  :content
  {:target :browser
   :modules {:content {:init-fn content/init}}
   :devtools {:after-load content/after-load}}}}
